<div class="container-table">

    <div class="table-content">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>#</th>

                    <th>
                        <input type="checkbox" disabled>
                    </th>
                    <th *ngFor="let header of tableHeaders">
                        <ng-container *ngIf="header === 'imageUrl'">
                            Image
                        </ng-container>
                        <ng-container *ngIf="header === 'isActive'">
                            Is Active
                        </ng-container>
                        <ng-container *ngIf="header === 'createdAt'">
                            Created At
                        </ng-container>
                        <ng-container *ngIf="header === 'dateOfBirth'">
                            Date Of Birth
                        </ng-container>
                        <ng-container *ngIf="header === 'updatedAt'">
                            Updated At
                        </ng-container>
                        <ng-container *ngIf="header === 'parentsID'">
                            Parents ID
                        </ng-container>
                        <ng-container *ngIf="header === 'parentsName'">
                            Parents Name
                        </ng-container>
                        <ng-container *ngIf="header === 'createdBy'">
                            Created By
                        </ng-container>
                        <ng-container *ngIf="header === 'updatedBy'">
                            Updated By
                        </ng-container>
                        <ng-container *ngIf="header === 'firstName'">
                            First Name
                        </ng-container>
                        <ng-container *ngIf="header === 'lastName'">
                            Last Name
                        </ng-container>
                        <ng-container *ngIf="header !== 'imageUrl'
                             && header !== 'isActive'
                             && header !== 'parentsID'
                             && header !== 'parentsName'
                             && header !== 'dateOfBirth'
                             && header !== 'firstName'
                             && header !== 'lastName'
                             && header !== 'createdBy'&& header !== 'updatedBy'

                             && header !== 'createdAt' && header !== 'updatedAt'
                             && header !== 'dateOfBirth'">
                            {{ header }}
                        </ng-container>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tableData; let i = index">
                    <td (click)="toggleCheckbox(item)">{{i + 1}}</td>
                    <td (click)="toggleCheckbox(item)">
                        <input type="checkbox" [checked]="item.checked" style="margin-top: 5px;">
                    </td>
                    <td *ngFor="let header of tableHeaders">
                        <ng-container *ngIf="header === 'imageUrl'">
                            <ng-container *ngIf="typeImage === 'categories'">
                                <img *ngIf="item[header]"
                                    [src]="'http://localhost:8080/uploads/images/categories/'+item[header]" alt="Image"
                                    class="avatar rounded-circle" style="width: 50px; height: 50px;">
                            </ng-container>

                            <ng-container *ngIf="typeImage === 'products'">
                                <img *ngIf="item[header]"
                                    [src]="'http://localhost:8080/uploads/images/products/'+item[header]" alt="Image"
                                    class="avatar rounded-circle" style="width: 50px; height: 50px;">
                            </ng-container>
                            <ng-container *ngIf="typeImage === 'coupons'">
                                <img *ngIf="item[header]"
                                    [src]="'http://localhost:8080/uploads/images/coupons/' +item[header]" alt="Image"
                                    class="avatar rounded-circle" style="width: 50px; height: 50px;">
                            </ng-container>

                          <ng-container *ngIf="typeImage === 'coupons'">
                            <img *ngIf="item[header]"
                                 [src]="'http://localhost:8080/uploads/images/coupons/'+item[header]" alt="Image"
                                 class="avatar rounded-circle" style="width: 50px; height: 50px;">
                          </ng-container>



                        </ng-container>

                        <ng-container *ngIf="header === 'isActive'">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                                    (change)="changeActive(item)" [checked]="item[header]">
                            </div>
                        </ng-container>

                        <ng-container
                            *ngIf="header === 'createdAt' || header === 'updatedAt'|| header === 'dateOfBirth'">
                            {{ item[header] | date:'dd-MM-yyyy' }}

                        </ng-container>

                        <ng-container
                            *ngIf="header !== 'imageUrl' && header !== 'isActive' && header !== 'createdAt' && header !== 'updatedAt'&& header !== 'dateOfBirth'">
                            {{ item[header] }}
                        </ng-container>

                        <ng-container *ngIf="header === 'button'">
                            <div class="button-container">
                                <button type="button" [routerLink]="[routerLinkString, item.id]"
                                    [routerLinkActive]="activeRouterLinkString" class="button-89"
                                    role="button">Edit</button>
                                <button type="button" (click)="eventClickDelete(item.id)" class="button-89"
                                    role="button">Delete</button>
                            </div>

                        </ng-container>

                    </td>

                </tr>

            </tbody>

        </table>
        <ng-container *ngIf="changePage">
            <div class="card-footer py-4">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-end mb-0">
                        <!-- Previous Page Button -->
                        <!-- <li class="page-item" [class.disabled]="currentPage === 1">
                      <a class="page-link" (click)="prevPage()">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li> -->

                        <!-- Page Numbers -->
                        <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
                            [class.active]="currentPage === i">
                            <a class="page-link" (click)="setPage(i)">{{ i +1 }}</a>
                        </li>


                        <!-- Next Page Button -->
                        <!-- <li class="page-item" [class.disabled]="currentPage === totalPages">
                      <a class="page-link"   (click)="nextPage()">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li> -->
                    </ul>
                </nav>
            </div>


        </ng-container>
    </div>

</div>
