<app-header-admin [routerLinkString]="'/admin/list_user'" [title_header]="'Edit User'" />
<div class="container-form">
    <div class="content-border">
        <div class="row">
            <!-- ID User -->
            <div class="col-md-6">
                <input type="text" id="disabledTextInput" class="form-control" placeholder="" style="background-color: #f5f5f5;" disabled >
                <label for="disabledTextInput" class="form-label">ID User</label>
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
            </div>

           
            <div class="col-md-6">
                
            </div>

            <!-- LastName -->
            <div class="col-md-6">
                <input type="text" id="lastName" class="form-control" placeholder="">
                <label for="lastName" class="form-label">LastName</label>
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
            </div>

            <!-- FirstName -->
            <div class="col-md-6">
                <input type="text" id="firstName" class="form-control" placeholder="">
                <label for="firstName" class="form-label">FirstName</label>
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
            </div>

            <!-- Phone -->
            <div class="col-md-6">
                <input type="text" id="phone" class="form-control" placeholder="">
                <label for="phone" class="form-label">Phone</label>
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
            </div>


            <div class="col-md-6">
                <input type="text" id="email" class="form-control" placeholder="">
                <label for="email" class="form-label">Email</label>
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
            </div>


            <!-- Created At -->
            <div class="col-md-6">
                <input type="text" id="CreatedAt" class="form-control" placeholder="">
                <label for="CreatedAt" class="form-label">Created At</label>
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
            </div>

            <!-- Updated At -->
            <div class="col-md-6">
                <input type="text" id="UpdatedAt" class="form-control" placeholder="">
                <label for="UpdatedAt" class="form-label">Updated At</label>
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
            </div>

            <!-- Created By -->
            <div class="col-md-6">
                <input type="number" id="createdBy" class="form-control" placeholder="">
                <label for="createdBy" class="form-label">Created By</label>
                <div class="invalid-feedback">
                    Please provide a valid creator ID.
                </div>
            </div>

            <!-- Updated By -->
            <div class="col-md-6">
                <input type="number" id="updatedBy" class="form-control" placeholder="">
                <label for="updatedBy" class="form-label">Updated By</label>
                <div class="invalid-feedback">
                    Please provide a valid updater ID.
                </div>
            </div>
            <div class="col-md-6">
                <span>Date of Birth</span>
                <input type="datetime-local" id="dateOfBirth" class="form-control" placeholder="">
                <div class="invalid-feedback">
                    Please provide a valid date of birth.
                </div>
            </div>

            <!-- Gender -->
            <div class="col-md-6">
                <span>Gender</span>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="genderMale" value="Male">
                    <span>Male</span>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="genderFemale" value="Female">
                    <span>Female</span>

                </div>
                <div class="invalid-feedback">
                    Please select a gender.
                </div>
            </div>

            <!-- Is Active -->
            <div class="col-md-6">
                <div class="form-check form-switch">
                    <span>Active</span>
                    <input class="form-check-input" type="checkbox" id="isActive" checked>
                </div>
            </div>

            <div class="col-md-12 pt-5">
                <app-button />
            </div>
        </div>

    </div>



</div>