<app-header-admin  [title_header]="'Edit Product'" />
<div class="container"  >
  <div class="row">
    <!-- Product Images (Left Section) -->
    <div class="col-md-7 pe-5 ps-0">
      <div class="row ">
        <!-- <div class="col-6 position-relative p-0 " *ngIf="colorImage">
          <img [src]="getImageProduct(colorImage.mediaUrl)">
          <a [routerLink]="['/client', currentCurrency, currentLang,'imageDetail',colorImage.id]" class="image-icon"
            *ngIf="colorImage.hasVariants">
            <i class="fa-solid fa-mountain-sun"></i>
          </a>
        </div> -->

        <video class="col-6 p-0" *ngFor="let video of dataVideoProduct" autoplay loop>
          <source [src]="'http://localhost:8080/uploads/images/products/' + video.mediaUrl" type="video/mp4">
          Trình duyệt của bạn không hỗ trợ phát video.
        </video>

        <div class="col-6 position-relative p-0 product-variant-edit" *ngFor="let img of dataImagesProduct"
        [routerLink]="['/admin/edit_productVariant/', img.id, productId]"
        >
          <img [src]="getImageProduct(img.mediaUrl)">
          <!-- <a class="image-icon"
            *ngIf="img.hasVariants">
            <i class="fa-solid fa-mountain-sun"></i>
          </a> -->
        </div>


        <!-- <div class="col-6 position-relative">
            <img src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/456261/sub/vngoods_456261_sub7_3x4.jpg?width=369" alt="Model Pose 2" class="img-fluid rounded">
            <a [routerLink]="['../imageDetail']" class="image-icon">
              <i class="fa-solid fa-mountain-sun"></i>
            </a>
          </div> -->
        <!-- {{getImageProduct()}} -->
        <!-- <div *ngFor="let item of dataImagesProduct">{{item.mediaUrl}}</div> -->
        <!-- <div class="col-6" *ngFor="let image of dataImagesProduct">
            <img [src]="image.mediaUrl" [alt]="image.mediaType" class="img-fluid rounded">
          </div>
         -->
      </div>
 
    </div>
    <!-- Product Details (Right Section) -->
    <div class="col-md-5"  >
      <div class="product-details sticky-top z-0">
        <!--        product-name-->
        <div class="product-name d-flex align-items-center" style="background-color: #f5f5f5;">
          <!-- Tên sản phẩm -->
          <h3 class="product-title fw-normal">{{dataDetailsProduct?.name}}</h3>

          <!-- Nút Hành động -->
          <div class="action-buttons d-flex">
            <!-- Nút Chia sẻ -->
            <button class="btn btn-icon">
              <i class="fa-solid fa-arrow-up-from-bracket"></i>
            </button>
            <!-- Nút Yêu thích -->
            
          </div>
        </div>
        <div>
          <!--        product-color-->
          <div class="color-picker" style="background-color: #f5f5f5;">
            <dl class="color-picker-list">
              <!-- Màu trắng -->
              <div class="color-item" *ngFor="let color of dataColors" [attr.data-test]="color.valueName">
                <dt>
                  <input type="radio" [value]="color.id" name="product-color-picker"
                    [id]="'product-color-picker' + color.id" class="color-input"
                    (click)="selectColor(color)"
                    [checked]="color.id === selectedColorId">

                  <label class="color-label" [for]="'product-color-picker' + color.id"
                    [style.backgroundImage]="'url(' + getImageColor(color.valueImg) + ')'">

                  </label>
                </dt>
              </div>


            </dl>
            <p class="color-selected">{{ "Màu sắc:" | translate }} {{selectedColorName}}</p>
          </div>
          <!--            product-size-->
          <div class="size-picker" style="background-color: #f5f5f5;">
            <div class="btn-group flex-wrap gap-2" role="group">
              <div class="size-item" *ngFor="let size of dataSizes" [attr.data-test]="size.valueName">
                <!-- Radio button -->
                <input type="radio"
                       class="btn-check"
                       [value]="size.id"
                       name="product-size-picker"
                       [id]="'product-size-picker' + size.valueName"
                       (click)="selectSize(size)"
                       [checked]="size.id === selectedSizeId && !isSizeOutOfStock(size)"
                       [disabled]="isSizeOutOfStock(size)">

                <!-- Nhãn hiển thị kích thước -->
                <label class="btn btn-outline-dark size-label"
                       [for]="'product-size-picker' + size.valueName"
                       [ngClass]="{'ignore': isSizeOutOfStock(size)}">
                  {{ size.valueName }}
                </label>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between " style="width: auto;flex-direction: column; background-color: #f5f5f5;">
            <p class="hintText hintTextPicker hint-text--color-secondary textAlignLeft text-transform-normal" style="background-color: #f5f5f5;">
                <span class="">{{ "Kích cỡ:" | translate }}
                  <span *ngIf=" dataCategoryParent?.length">
                    <span class="product-item-categoryParent" *ngIf="dataCategoryParent?.length === 1">
                      {{ dataCategoryParent?.[0]?.name ?? '' }}
                    </span>
                    <span class="product-item-categoryParent" *ngIf="(dataCategoryParent?.length || 0) > 1">
                      Unisex
                    </span>
                  </span>
                  {{selectedSizeName}}
                </span>
            </p>
          </div>
        </div>       
    
      
        <!------------------------END--------------------->
      </div>
    </div>
  </div>
</div>
