<app-store-header [title_header]="'Dashboard'" [title_btn]="'Statistic'" />
<div class="container-fluid row">
  <div class="col-12 col-md-6 col-xl-3 ">
    <div class="statis-item  ">
      <div class="row">
        <div class="col-6 col-md-8  d-flex flex-column ps-4 pt-2  ">
          <span>Today's Money</span>
          <strong>$53</strong>
        </div>
        <div class="col-6 col-md-4 d-flex justify-content-center align-items-center pe-4 ">
          <div class="item-icon">
            <img src="https://img.icons8.com/?size=100&id=9gf6ZL61hgEI&format=png&color=ffffff"
                 alt="icon item Dashboard" width="30" height="30">
          </div>
        </div>
      </div>

      <hr class=" mt-1 my-0 ms-4 me-4"
          style="   background: linear-gradient(to right, #f9f9f9, #e8e8e8, #f9f9f9);; height: 7px;">
      <div class="item-statis-time">
        <span style="color: #4caf50;">+55% </span> than last week
      </div>
    </div>

  </div>
  <div class="col-12 col-md-6 col-xl-3 ">
    <div class="statis-item  ">
      <div class="row">
        <div class="col-6 col-md-8  d-flex flex-column ps-4 pt-2 ">
          <span>Today's Users</span>
          <strong>2300</strong>
        </div>
        <div class="col-6 col-md-4 d-flex justify-content-center align-items-center pe-4   ">
          <div class="item-icon">
            <img src="https://img.icons8.com/?size=100&id=98957&format=png&color=ffffff"
                 alt="icon item Dashboard" width="30" height="30">
          </div>
        </div>
      </div>

      <hr class=" mt-1 my-0 ms-4 me-4"
          style="   background: linear-gradient(to right, #f9f9f9, #e8e8e8, #f9f9f9);; height: 7px;">
      <div class="item-statis-time">
        <span style="color: #4caf50;">+55% </span> than last week
      </div>
    </div>

  </div>
  <div class="col-12 col-md-6 col-xl-3 ">
    <div class="statis-item  ">
      <div class="row">
        <div class="col-6 col-md-8  d-flex flex-column ps-4 pt-2 ">
          <span>Today's Order</span>
          <strong>$53</strong>
        </div>
        <div class="col-6 col-md-4 d-flex justify-content-center align-items-center pe-4   ">
          <div class="item-icon">
            <img src="https://img.icons8.com/?size=100&id=4255&format=png&color=ffffff"
                 alt="icon item Dashboard" width="30" height="30">
          </div>
        </div>
      </div>

      <hr class=" mt-1 my-0 ms-4 me-4"
          style="   background: linear-gradient(to right, #f9f9f9, #e8e8e8, #f9f9f9);; height: 7px;">
      <div class="item-statis-time">
        <span style="color: #f44335;">-2% </span> than yesterday
      </div>
    </div>

  </div>
  <div class="col-12 col-md-6 col-xl-3 ">
    <div class="statis-item  ">
      <div class="row">
        <div class="col-6 col-md-8  d-flex flex-column ps-4 pt-2 ">
          <span>Today's Cancel Order</span>
          <strong>3</strong>
        </div>
        <div class="col-6 col-md-4 d-flex justify-content-center align-items-center pe-4   ">
          <div class="item-icon">
            <img src="https://img.icons8.com/?size=100&id=114052&format=png&color=ffffff"
                 alt="icon item Dashboard" width="30" height="30">
          </div>
        </div>
      </div>

      <hr class=" mt-1 my-0 ms-4 me-4"
          style="   background: linear-gradient(to right, #f9f9f9, #e8e8e8, #f9f9f9);; height: 7px;">
      <div class="item-statis-time">
        <span style="color: #4caf50;">+55% </span> than last week
      </div>
    </div>

  </div>

  <div class="col-12  col-md-12 col-lg-9  ">
    <div class="chart-content line-chart-box  ">
      <span>Top Products</span>

      <app-top-products-table
        [products]="topProducts"
        [page]="topProductsPage"
        [totalPages]="topProductsTotalPages"
        (pageChange)="onTopProductsPageChange($event)">
      </app-top-products-table>

    </div>

    <div class="col-12 ">
      <div class="chart-content line-chart-box  ">
        <span>Lastest Order</span>

    <app-lastest-order
      [orders]="orders"
      [page]="ordersPage"
      [totalPages]="ordersTotalPages"
      (pageChange)="onOrdersPageChange($event)">
    </app-lastest-order>
      </div>
  </div>






  <!-- <app-bar-chart [lable]="labels" [data]="data"/> -->











</div>

